{% extends "index.html" %}
{% block content %}
<div class="container mt-5">
    <div class="content text-center">
        <h3>All products</h3>

        <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Fruits & Vegetables</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            {% comment %} <button data-filter=".top-featured">Top featured</button>
                            <button data-filter=".best-seller">Best seller</button> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                {% for item in product  %}

                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img src="{{item.Product_Image.url}}" width="100%" height="200px !importent"  alt="Image">
                            <div class="mask-icon">
                                {% comment %} <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i
                                                class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i
                                                class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right"
                                            title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul> {% endcomment %}
                                <a class="cart" href="{%url 'AddToCart' item.id %}">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>{{item.Product_Name}}</h4>
                            <h5> ₹{{item.Product_price}}</h5>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End Products  -->

    </div>

</div>
  
{% endblock %} 