{% extends "index.html" %}
{% load static %}
{% block content %}
   <!-- Start All Title Box -->
   <div class="all-title-box">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <h2>Blog</h2>
                   <ul class="breadcrumb">
                       <li class="breadcrumb-item"><a href="#">Home</a></li>
                       <li class="breadcrumb-item active">Blog</li>
                   </ul>
               </div>
           </div>
       </div>
   </div>
   <!-- End All Title Box -->

   <!-- Start About Page  -->
   <div class="about-box-main">
       <div class="container">
           <div class="row">
               <div class="col-lg-6">
                   <div class="banner-frame"> <img class="img-fluid" src="{{blog.Blog_image.url}}" alt="" />
                   </div>
               </div>
               <div class="col-lg-6">
                   <h2 class="noo-sh-title-top">{{blog.Blog_name}}</h2>
                   <p><q>{{blog.Blog_Discription}}</q></p>
                   <h5 >Desease: {{blog.Disease}}</h5>
                   <p>{{blog.Disease_Discription}}</p>
                   <h5>Symptoms:</h5>
                   <p class="h4">{{blog.Symptoms}}</p>
                   <p>{{blog.Symptoms_Discription}}</p>
                   <p class="h4">Remedies</p>
                   <p>{{blog.Remedy}}</p>
                   <h4>Other Explanations</h4>
                   <p>{{blog.Other}}</p>

                   <!-- <a class="btn hvr-hover" href="#">Read More</a> -->
               </div>
           </div>
           <!-- <div class="row my-5">
               <div class="col-sm-6 col-lg-4">
                   <div class="service-block-inner">
                       <h3>We are Trusted</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                   </div>
               </div>
               <div class="col-sm-6 col-lg-4">
                   <div class="service-block-inner">
                       <h3>We are Professional</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                   </div>
               </div>
               <div class="col-sm-6 col-lg-4">
                   <div class="service-block-inner">
                       <h3>We are Expert</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                   </div>
               </div>
           </div> -->
           
       </div>
   </div>
   <!-- End About Page -->

   <!-- Start Instagram Feed  -->
   <div class="instagram-box">
       <div class="main-instagram owl-carousel owl-theme">
           <div class="item">
               <div class="ins-inner-box">
                   <img src="images/instagram-img-01.jpg" alt="" />
                   <div class="hov-in">
                       <a href="#"><i class="fab fa-instagram"></i></a>
                   </div>
               </div>
           </div>
           <div class="item">
               <div class="ins-inner-box">
                   <img src="images/instagram-img-02.jpg" alt="" />
                   <div class="hov-in">
                       <a href="#"><i class="fab fa-instagram"></i></a>
                   </div>
               </div>
           </div>
           <div class="item">
               <div class="ins-inner-box">
                   <img src="images/instagram-img-03.jpg" alt="" />
                   <div class="hov-in">
                       <a href="#"><i class="fab fa-instagram"></i></a>
                   </div>
               </div>
           </div>
           <div class="item">
               <div class="ins-inner-box">
                   <img src="images/instagram-img-04.jpg" alt="" />
                   <div class="hov-in">
                       <a href="#"><i class="fab fa-instagram"></i></a>
                   </div>
               </div>
           </div>
           <div class="item">
               <div class="ins-inner-box">
                   <img src="images/instagram-img-05.jpg" alt="" />
                   <div class="hov-in">
                       <a href="#"><i class="fab fa-instagram"></i></a>
                   </div>
               </div>
           </div>
           <div class="item">
               <div class="ins-inner-box">
                   <img src="images/instagram-img-06.jpg" alt="" />
                   <div class="hov-in">
                       <a href="#"><i class="fab fa-instagram"></i></a>
                   </div>
               </div>
           </div>
           <div class="item">
               <div class="ins-inner-box">
                   <img src="images/instagram-img-07.jpg" alt="" />
                   <div class="hov-in">
                       <a href="#"><i class="fab fa-instagram"></i></a>
                   </div>
               </div>
           </div>
           <div class="item">
               <div class="ins-inner-box">
                   <img src="images/instagram-img-08.jpg" alt="" />
                   <div class="hov-in">
                       <a href="#"><i class="fab fa-instagram"></i></a>
                   </div>
               </div>
           </div>
           <div class="item">
               <div class="ins-inner-box">
                   <img src="images/instagram-img-09.jpg" alt="" />
                   <div class="hov-in">
                       <a href="#"><i class="fab fa-instagram"></i></a>
                   </div>
               </div>
           </div>
           <div class="item">
               <div class="ins-inner-box">
                   <img src="images/instagram-img-05.jpg" alt="" />
                   <div class="hov-in">
                       <a href="#"><i class="fab fa-instagram"></i></a>
                   </div>
               </div>
           </div>
       </div>
   </div>
   {% endblock %}blog.Disease